---
// 1. Import de la Navbar et du futur Footer
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={description} />
    <link rel="icon" type="image/webp" href="/assets/favicon.webp" />
    <title>{title}</title>
  </head>
  <body>
    <Navbar />

    <slot />

    <Footer />
  </body>
</html>